/* login */
.login
{
    width:60%;
    background: #00803729;
    display: inline-contents;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 50px 20%;
    padding: 20px;

    font-family: 'Roboto Mono', monospace;
}

.login .login_title
{
    font-weight:bold;
    color: #035E0C;
}
.login .label_title
{
    font-weight: bolder;
    color:#5500FFFC;
    text-decoration:underline #5500FFFC;
}

.login input
{
    background: #5E17EB40;
}

.login input::placeholder
{
    color:#5E17EBFC;
}

.login button{
    width:100%;
    margin-top: 25px;
    background: #18846375;
    border: #18846375;

    font-weight:bold;
    color: #035E0C;
}

/* cadastre-se*/


.cadastro_link a:link, a:visited, a:hover, a:active
{
    color:#5500FFFC;
    font-weight:bold;
    font-family: 'Roboto Mono', monospace;
}

/* footer */
.footer
{
    background: #5E17EB40;
    font-family: 'Roboto Mono', monospace;
    color:#5500FFFC;
    font-weight:bold;

}