<div class="cadastro">
    <h4 class="text-center cadastro_title">L O G I N</h4>
    <form class="">
        <div class="form-group">
            <label class="label_title" for="name">Nome:</label>
            <input type="text" class="form-control" placeholder="Nome do usuário"/>
        </div>
        <div class="form-group">
            <label class="label_title" for="name">Sobrenome:</label>
            <input type="text" class="form-control" placeholder="Sobrenome do usuário"/>
        </div>
        <div class="form-group">
            <label class="label_title" for="name">Username:</label>
            <input type="text" class="form-control" placeholder="Username"/>
        </div>
        <div class="form-group">
            <label class="label_title" for="pwd">Senha:</label>
            <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="form-group">
            <label class="label_title" for="pwd">Confirmar senha:</label>
            <input type="password" class="form-control" placeholder="confirmar senha">
        </div>

        <div class="button">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
</div>
