.cadastro
{
    width:60%;
    height: 300p;
    background: #00803729;
    display: inline-contents;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 50px 20%;
    padding:20px;

    font-family: 'Roboto Mono', monospace;
}

.cadastro .cadastro_title
{
    font-weight:bold;
    color: #035E0C;
}
.cadastro .label_title
{
    font-weight: bolder;
    color:#5500FFFC;
    text-decoration:underline #5500FFFC;
}

.cadastro input
{
    background: #5E17EB40;
}

.cadastro input::placeholder
{
    color:#5E17EBFC;
}

.cadastro button{
    width:100%;
    margin-top: 25px;
    background: #18846375;
    border: #18846375;

    font-weight:bold;
    color: #035E0C;
}
