<header class="text-center">
    <img src="assets/img/1.png" alt="logo do ErgonoMission">
</header>
<div class="titulos">
    <h3 class="text-center">Registre-se no ErgonoMission</h3>
    <h5 class="text-center"> e comece já sua jornada rumo a produtividade</h5>
</div>
<form class="form campos">

    <div class="form-group">
        <label class="label_title" for="email">Email:</label>
        <input type="text" placeholder="email" class="form-control"/>
    </div>

    <div class="form-group">
        <label class="label_title" for="username">Nome de usuário:</label>
        <input type="text" placeholder="usuário" class="form-control"required />
    </div>

    <div class="form-group">
        <label class="label_title" for="password">Senha:</label>
        <input type="password" placeholder="senha" class="form-control" required="">
    </div>
    <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<div class="text-center login_link">
    <p>O U</p>
    <a [routerLink]="['']" class="login_title">L O G I N</a>
</div>

<div class="footer text-center">		
    <p>Desenvolvido por Nikolle de Lacerda Nascimento e Tiago Civatti Frausino</p>
</div>
