<div class="row">
    <!--boas vindas-->
    <div class="col-lg-9">
        <div class="welcome_coin">
            <!--hello fulano-->
            <div id="welcoming">   
                <h4>B E M - V I N D O !!</h4>
            </div>
            <!--total de moedas do fulano-->
            <div id="coins">
                 <p>
                     <img src="assets/img/coin.png" alt="imagem de uma moeda">
                </p>
            </div>
        </div>
        <!--historico de uso-->
        <div class="user_history">
            <dl>
                <dt>Historico 1</dt>
                <dt>Historico 2</dt>
                <dt>Historico 3</dt>
                <dt>Historico 4</dt>
                <dt>Historico 1</dt>
                <dt>Historico 2</dt>
            </dl>
        </div>
    </div>
    <!--sidebar-->
    <div class="sidebar col-lg-3 text-center">
        <dt>
            <dl>
                <a [routerLink]="['perfil']"><img src="assets/img/perfil.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['pomodoro']"><img src="assets/img/play.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['biblioteca_alongamento']"><img src="assets/img/alongamento.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['loja']"><img src="assets/img/loja.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['ergonomia_info']"><img src="assets/img/trabalhando.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['sobre']"><img src="assets/img/sobre.png"></a>
            </dl>
        </dt>
    </div>
</div>