<header class="text-center">
    <img src="assets/img/1.png" alt="logo do ErgonoMission">
</header>

<div class="row">
    <div class="new-cicle col-lg-9 text-center">
        <div class="nome_tarefa">
            <input #task value="Nova Tarefa">
        </div>
        <div class="play">
            <button (click)="pomodoroStart(task.value)" class="play_button"><img src="assets/img/play.png"></button>
        </div>
        <div class="pausa_stop">
            <p>{{timerText}}</p>
        <br>
            <button (click)="pomodoroPause()" class="pausa_button"><img src="assets/img/pausa.png"></button>
            <button (click)="pomodoroEnd()" class="stop_button"><img src="assets/img/stop.png"></button>
        </div>
    </div>
    <div class="sidebar col-lg-3 text-center">
        <dt>
            <dl>
                <a [routerLink]="['perfil']"><img src="assets/img/perfil.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['pomodoro']"><img src="assets/img/play.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['biblioteca_alongamento']"><img src="assets/img/alongamento.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['loja']"><img src="assets/img/loja.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['ergonomia_info']"><img src="assets/img/trabalhando.png"></a>
            </dl>
            <dl>
                <a [routerLink]="['sobre']"><img src="assets/img/sobre.png"></a>
            </dl>
        </dt>
    </div>
</div>
<div class="footer text-center">
    <p>Desenvolvido por Nikolle de Lacerda Nascimento e Tiago Civatti Frausino</p>
</div>
