<div class="row">
    <div class="col-lg-9 sobre text-center">
        <h2>S O B R E:</h2>
        <p>
            ErgonoMission é um <i>software</i> que visa auxiliar pessoas que trabalham e/ou 
            estudam por longos períodos na frente dos computadores para que não sofram 
            futuramente com lesões nas áreas do corpo mais afetadas pela má postura e 
            logo período em frente às telas, sendo ele um <i>software</i> gratuito composto de 
            uma extensão do navegador e um <i>site</i>. 
            <br>
            A extensão possui as principais funcionalidades do sistema, dentre eles: 
            o perfil do usuário, uma loja de customização de personagem, um novo ciclo 
            pomodoro e também uma biblioteca com alongamentos simples que podem ser feitos 
            pelo usuário. Enquanto o <i>site</i> possui mais informações sobre o sistema e sobre 
            o que é Ergonomia e o <i>download</i> da extensão.
            <br>
            Com o ErgonoMission você pode contabilizar o tempo de trabalho/estudo e juntar 
            moedas, com as moedas é possível comprar um personagem novo no Loja de customização 
            de personagem. Além disso, durante os períodos de pausa é possível visualizar na 
            Biblioteca de Alongamentos alguns alongamentos simples para as seguintes áreas do corpo: 
            olhos, pescoço, costas e pulso e tudo isso aprendendo a se cuidar e visar, além da 
            produtividade no trabalho, a saúde do seu corpo.
        </p>
    </div>
</div>
