@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* header */
header
{
    height:100px;
    width: 100%;
    background: #00803729;
}
header img{
    width:750px;
    height: 100px;
    position:static;
}

/* footer */
.footer
{
    background: #5E17EB40;
    padding-top:5px;
    height:35px;

    font-family: 'Roboto Mono', monospace;
    color:#5500FFFC;
    font-weight:bold;
}
/*--------------------------------------------*/
.sobre h2
{
    font-family: 'Roboto Mono', monospace;
    font-weight:bold;
    margin:10px 0px 5px 15px;
    color:#035E0C;
}
.sobre p
{
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding:35px;
    color:#3C00B5;
    text-align: justify;
}
/*--------------------------------------------*/

.sidebar
{
    background-color:#0080374D;
}
    .sidebar dl
    {
        margin-top: 25px;
    }
    .sidebar img
    {
        width:50px;
        height: 50px;
    }
/*--------------------------------------------*/