


/*--------------------------------------------*/
.sobre h2
{
    font-family: 'Roboto Mono', monospace;
    font-weight:bold;
    margin:10px 0px 5px 15px;
    color:#035E0C;
}
.sobre p
{
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding:35px;
    color:#3C00B5;
    text-align: justify;
}