
<!--nome e perfil-->
<div class="row">
    <div class="col-lg-9 left_side">
        <div class="foto_nome text-center">
            <div>
                <img src="assets/img/perfil.png">
                <p>Nome do usuario</p></div>
        </div>
        <!--config nome e perfil-->
        <div class="config_nome_email">
            <div>
                <p>Nome:</p>
                <input type="text" name="mudar_nome" placeholder="nome novo">
                <button>editar</button>
            </div>
            <div>
                <p>email do usuário</p>
                <input type="text" name="mudar_email" placeholder="email novo">
                <button>editar</button>
            </div>
        </div>
        <!--temporizador config-->
        <div class="config_temp">
            <h5>T E M P O R I Z A D O R:</h5>
            <div class="temp_cicle_edit">
                <p>Tempo do ciclo: 25 minutos</p>
                <p>Tempo da pausa: 5 minutos</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-danger logout" (click)="logout()">S A I R</button>
    </div>
<div>
