
<!--nome e perfil-->
<div class="row">
    <div class="col-lg-9 left_side">
        <div class="foto_nome text-center">
            <div>
                <img src="{{user.image}}">
                <p><i>{{user.personagem.apelido}}</i></p>
                <p>{{user.nome | titlecase}} {{user.sobrenome | titlecase}}</p>
            </div>
        </div>
        <!--config nome e perfil-->
        <div class="form-perfil">
            <div>
                <p>Nome:</p>
                <input 
                    type="text"
                    name="nome"
                    #nome 
                    placeholder="novo nome" 
                    value="{{user.nome}}"
                />
                <button (click)="alterar(nome.name, nome.value)">editar</button>
            </div>
            <div>
                <p>Sobrenome</p>
                <input 
                    type="text"
                    name="sobrenome" 
                    #sobrenome 
                    placeholder="novo sobrenome" 
                    value="{{user.sobrenome}}"
                />
                <button (click)="alterar(sobrenome.name, sobrenome.value)">editar</button>
            </div>
            <div>
                <p>Senha</p>
                <input 
                    type="password"
                    name="password" 
                    #senha 
                    placeholder="nova senha" 
                />
                <button (click)="alterar(senha.name, senha.value)">editar</button>
            </div>
        </div>

        <div class="form-perfil">
            <div>
                <p>Apelido:</p>
                <input 
                    type="text" 
                    name="apelido"
                    #apelido 
                    placeholder="novo apelido"
                    value="{{user.personagem.apelido}}"
                />
                <button (click)="alterar(apelido.name, apelido.value, true)">editar</button>
            </div>
        </div>

        <!--temporizador config-->
        <div class="config_temp">
            <h5>T E M P O R I Z A D O R:</h5>
            <div class="temp_cicle_edit">
                <p>Tempo do ciclo: 25 minutos</p>
                <p>Tempo da pausa: 5 minutos</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-danger logout" (click)="logout()">S A I R</button>
    </div>
<div>
