.status-good{
    background: rgba(100,255,100,0.5);
}

.status-bad{
    background: rgba(248, 96, 96, 0.562);
}
    
.titulo{
    color: white;
}
    
.pontos{
    color: gold;
}

dt {
    font-family: 'Roboto Mono', monospace;
    height: 40px;
}