.status-C{
    background: rgba(100,255,100,0.5);
}

.status-E{
    background: rgba(255,100,100,0.5);
}
    
.titulo{
    color: white;
}
    
.pontos{
    color: gold;
}

dt {
    font-family: 'Roboto Mono', monospace;
}