.status-good{
    background: rgba(68, 190, 68, 0.5);
}
.status-C{
    background: rgba(100,255,100,0.5);
    height: 40px;
}

.status-E{
    background: rgba(248, 96, 96, 0.562);
    height: 40px;
}
    
.titulo{
    color: white;
}
    
.pontos{
    color: gold;
}

dt {
    font-family: 'Roboto Mono', monospace;
    height: 40px;
    background-color:5E17EB40;
}