<div class="welcome_coin">
  <!--hello fulano-->

  <div id="welcoming">
    <h4>B E M - V I N D O 
      <span class="username">{{user.nome | uppercase}}!!</span>
    </h4>
  </div>
  <!--total de moedas do fulano-->
  <div class="coins">
    <p>
      {{user.pontos}}
      <img src="assets/img/coin.png" alt="imagem de uma moeda" />
    </p>
  </div>
</div>
<!--historico de uso-->
<div class="user_history">
  <ng-container *ngIf="historicoList.length === 0; else elseHist">
    <div>
      <p>{{MENSAGEM_SEM_HISTORICO}}</p>
    </div>
  </ng-container>
  <ng-template #elseHist>
    <dl *ngFor="let item of historicoList">
      <historico-item [data]="item"></historico-item>
    </dl>
  </ng-template>
</div>