<div class="welcome_coin">
  <!--hello fulano-->

  <div id="welcoming">
    <h4>B E M - V I N D O {{user.nome | uppercase}}!!</h4>
  </div>
  <!--total de moedas do fulano-->
  <div id="coins">
    <p>
      {{user.pontos}}
      <img src="assets/img/coin.png" alt="imagem de uma moeda" />
    </p>
  </div>
</div>
<!--historico de uso-->
<div class="user_history">
  <dl>
    <dt>Historico 1</dt>
    <dt>Historico 2</dt>
    <dt>Historico 3</dt>
    <dt>Historico 4</dt>
    <dt>Historico 1</dt>
    <dt>Historico 2</dt>
  </dl>
</div>
