/*.left_bar*/
    .welcome_coin
    {
        text-align: center;
        font-family: 'Roboto Mono', monospace;

        background:#5E17EB4D;   
        margin:15px 15px 10px 15px;
        padding: 5px 5px;
    }
        #welcoming h3
        {
            font-weight:bold;
        }

    .user_history
    {
        
        margin:15px;
    }
        .user_history dl
        {
        padding-bottom: 10px;
        }
        .user_history dt
        {
            height:20px;
            padding:10px;
            border-bottom: 1px solid #3C00B5;

            font-family: 'Roboto Mono', monospace;
        }
/*--------------------------------------------*/