<div class="row">
    <!--logo ergonomission-->
    <header class="text-center">
        <img src="img/1.png" alt="logo do ErgonoMission">
    </header>
    <!--boas vindas-->
    <div class="col-lg-9">
        <div class="welcome_coin">
            <!--hello fulano-->
            <div id="welcoming">   
                <h4>B E M - V I N D O {{nome do usuário}} !!</h4>
            </div>
            <!--total de moedas do fulano-->
            <div id="coins">
                 <p>
                     <img src="img/coin.png" alt="imagem de uma moeda">
                    {{total_de_moedas}}
                </p>
            </div>
        </div>
        <!--historico de uso-->
        <div class="user_history">
            <dl>
                <dt>Historico 1</dt>
                <dt>Historico 2</dt>
                <dt>Historico 3</dt>
                <dt>Historico 4</dt>
                <dt>Historico 1</dt>
                <dt>Historico 2</dt>
            </dl>
        </div>
    </div>
    <!--sidebar-->
    <div class="sidebar col-lg-3 text-center">
        <dt>
            <dl>
                <a href="#"><img src="img/perfil.png"></a>
            </dl>
            <dl>
                <a href="#"><img src="img/play.png"></a>
            </dl>
            <dl>
                <a href="#"><img src="img/alongamento.png"></a>
            </dl>
            <dl>
                <a href="#"><img src="img/loja.png"></a>
            </dl>
            <dl>
                <a href="#"><img src="img/sobre.png"></a>
            </dl>
            <dl>
                <a href="#"><img src="img/trabalhando.png"></a>
            </dl>
        </dt>
    </div>
    <!--footer-->
    <div class="footer text-center">
        <p>Desenvolvido por Nikolle de Lacerda Nascimento e Tiago Civatti Frausino</p>
    </div>
</div>