<div class="row">
    <div class="col-sm-10 component">
        <ng-template ngModel #componenteAqui></ng-template>
    </div>
    <div class="sidebar col-sm-2 text-center">
        <dt>
            <dl class="voltar">
                <ng-container *ngIf="currentOption != enum.Home">
                    <button class="btn btn-info" (click)="changeOption(enum.Home)">
                        Voltar
                    </button>
                </ng-container>
            </dl>
            <ng-container *ngFor="let option of MenuOptions">
                <ng-container *ngIf="!option.hidden">
                    <dl>
                        <a (click)="changeOption(option.value)">
                            <img alt="{{option.label}}" src="assets/img/{{option.image}}">
                        </a>
                    </dl>
                </ng-container>
            </ng-container>

        </dt>
    </div>
</div>