<div class="row">
    <div class="col-lg-9">
        <ng-container *ngIf="currentOption === 'home'">
            <logado-home></logado-home>
        </ng-container>
        <ng-container *ngIf="currentOption === 'perfil'">
            <app-perfil></app-perfil>
        </ng-container>
        <ng-container *ngIf="currentOption === 'pomodoro'">
            <app-pomodoro></app-pomodoro>
        </ng-container>
        <ng-container *ngIf="currentOption === 'biblioteca-alongamento'">
            <app-biblioteca-alongamento></app-biblioteca-alongamento>
        </ng-container>
        <ng-container *ngIf="currentOption === 'loja'">
            <app-loja></app-loja>
        </ng-container>
        <ng-container *ngIf="currentOption === 'ergonomia-info'">
            <app-ergonomia-info></app-ergonomia-info>
        </ng-container>
        <ng-container *ngIf="currentOption === 'sobre'">
            <app-sobre></app-sobre>
        </ng-container>
    </div>
    <div class="sidebar col-lg-3 text-center">
        <dt>
            <dl *ngFor="let option of MenuOptions">
                <a (click)="changeOption(option.value)"><img alt="{{option.label}}" src="assets/img/{{option.img}}"></a>
            </dl>
        </dt>
     </div>
</div>

