body{
    font-family: 'Roboto Mono', monospace;
}

header
{
    height:100px;
    width: 100%;
    background: #00803729;
}
header img{
    width:750px;
    height: 100px;
    position:static;
}

/* footer */
.footer
{
    background: #5E17EB40;
    padding-top:5px;
    height:35px;

    font-family: 'Roboto Mono', monospace;
    color:#5500FFFC;
    font-weight:bold;
}
/*--------------------------------------------*/
.menu
{
    background: #d7c5fa;
    height:50px;
    position: sticky;
    top: 0;
}
    .menu ul
    {
        font-weight:bold;
        color:#5500FFFC;
        top:0;
    }
    .menu li
    {
        float: right;

        padding-left: 30px;
        padding-right: 30px;
        color:rgb(0, 65, 9);
    }
    .menu li a
    {
        display: block;
        padding: 14px 10px;
        text-decoration: none;
        color:#5500FFFC;
    }
    .menu li a:hover
    {
        background-color: #8833f8;
        color:white;
        text-align: center;
    }
    .menu ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .menu .baixar
    {
        background-color:rgb(0, 65, 9);
    }
    .menu .baixar a
    {
        color:white;
    }
    .menu .baixar a:hover
    {
    background:rgb(0, 65, 9);
    color:white;
    }
/*--------------------------------------------*/
.baixar-div
{
    background: #00803729;
    padding: 30px;

    font-family: 'Roboto Mono', monospace;
}
    .baixar-div button
    {
        margin-bottom:20px;
        width: 300px;
        height: 50px;
        background-color:#8145f8fc;
        border-color: #5500FFFC;
        
        font-family: 'Roboto Mono', monospace;
        color: white;
    }
    .baixar-div .btn-outline-warning:hover{
        background-color: #5500FFFC;
        border-color: #8145f8fc;
        color: white;
    }
.ergonomia-div
{
    padding: 30px;
}
    .ergonomia-div h1
    {
        font-family: 'Roboto Mono', monospace;
        text-align: left;
        color:#5500FFFC;
    }
.sobre-div
{
    padding: 30px;
    background: #00803729;
}
    .sobre-div h1
    {
        font-family: 'Roboto Mono', monospace;
        text-align: right;
        color:rgb(0, 65, 9);
    }
.textos
{
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
}
.ergonomia-div .calculo-img
{
	width: 400px;
	height: 400px;

	padding-top:20px;
}
.ergonomia-div .pomodoro-img
{
	width: 600px;
	height: 400px;
}

/*--------------------------------------------*/
