.footer
{
    background: #ceb9f9;
    padding-top:5px;
    height:35px;

    font-family: 'Roboto Mono', monospace;
    color:#5500FFFC;
    font-weight:bold;
}

button
{
    background-color:#5500FFFC;
    color:white;

    padding:0px 10px;
    height: 25px;
}