.footer
{
    background: #5E17EB40;
    padding-top:5px;
    height:35px;

    font-family: 'Roboto Mono', monospace;
    color:#5500FFFC;
    font-weight:bold;
}

button
{
    background-color:#5500FFFC;
    color:white;

    
    height: 25px;
}