<div class="login">
    <h4 class="text-center login_title">L O G I N</h4>
    <form class="">
        <div class="form-group">
            <label class="label_title" for="name">Username:</label>
            <input type="text" class="form-control" placeholder="username"/>
        </div>
        <div class="form-group">
            <label class="label_title" for="pwd">Senha:</label>
            <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
</div>

<div class="text-center cadastro_link">
    <p>O U</p>
    <a href="#" class="login_title">C A D A S T R E - S E</a>
</div>
