<div class="row text-center">
    <div class="store col-sm-12">
        <div class="row">
            <div class="perfil_usuario col-sm-6">
                <dt>
                    <dl>
                        <img #fotoPerfil src="{{user.imagem}}"/>
                    </dl>
                    <dl>
                        <h3>{{user.personagem.apelido}}</h3>
                        <div class="coins">
                            <p>
                                {{user.pontos}}
                                <img src="assets/img/coin.png" alt="imagem de uma moeda" />
                            </p>
                        </div>
                    </dl>
                </dt>
            </div>
            <div class="preview col-sm-6" #display style="border:1px solid green">
                <ng-container *ngIf="isSelected === true; else elseBlock">
                    <p>{{selected.nome}}</p>
                    <img [src]="selected.imagem" />
                    <div class="coins">
                        {{selected.preco}}
                        <img src="assets/img/coin.png" alt="imagem de uma moeda" />
                    </div>
                    <button class="btn btn-success" (click)="comprar()" style="margin:10px;">Comprar</button>
                </ng-container>
                <ng-template #elseBlock>
                    <p>Selecione...</p>
                </ng-template>
            </div>
        </div>
        <h4>L O J A:</h4>
        <div class="wrapper row text-center" *ngFor="let item of ListaCosmeticos">
            <div class="col-sm-{{6/cols}}">
                <loja-item [data]="item" [owned]="user.personagem.cosmeticos" (retrieve)="displayData($event)"></loja-item>
            </div>
        </div>
    </div>
</div>