
/*store*/
	.store .perfil_usuario
	{
		background: #5E17EB40;
		padding:10px;
		margin:15px 15px 10px 15px;
	}
	.store .perfil_usuario h3
	{
		font-family: 'Roboto Mono', monospace;
	    font-weight:bold;
	}
	.store .perfil_usuario dl img
	{
		width:60px;
	    height:60px;
	    margin: 10px;
	}
	.store h4
	{
	    font-family: 'Roboto Mono', monospace;
	    font-weight:bold;
	    color:#035E0C;
	    margin:10px 0px 10px 15px;
	}
	.store .line
	{
		vertical-align: middle;
	}
	.store img
	{
	    width:50px;
	    height: 50px;

	    margin-top:50px;
	}
	.store .line dl
	{
	    border: 3px solid #3C00B5;
	    height: 150px;
	}

.wrapper{
	position: relative;
	width: 100%;
}

	.owned{
		position: absolute;
		right: -5px;
		top: -5px;
		color: green;
		font-weight: bold;
		font-size: 1.5em;
	}
	.owned::after{
		content:'';
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
		height: 30px;
		border: 1px solid green;
		border-radius: 50%;
		box-shadow: 1px 1px 3px 0px black;
	}

	