
<div class="row text-center">
    <div class="store col-lg-9">
        <div class="perfil_usuario">
            <dt>
                <dl>
                    <img src="assets/img/perfil.png">
                </dl>
                <dl>
                    <h3>Nome do usuário</h3>
                </dl>
            </dt>
        </div>
        <h4>L O J A:</h4>
        <div class="row text-center">
            <div class="col-lg-6 line">
                <dt>
                    <dl><img src="assets/img/loja/ninja1.png"></dl>
                    <dl><img src="assets/img/loja/ninja2.png"></dl>
                    <dl><img src="assets/img/loja/ninja3.png"></dl>
                    
                </dt>
            </div>
            <div class="col-lg-6 line">
                <dt>
                    <dl><img src="assets/img/loja/ninja4.png"></dl>
                    <dl><img src="assets/img/loja/ninja5.png"></dl>
                    <dl><img src="assets/img/loja/ninja6.png"></dl>
                    
                </dt>
            </div>					
        </div>
    </div>
</div>
