<div class="ergonomia-div" id="ergonomia">
    <h1>O que é Ergonomia?</h1>
    <p>
        Ergonomia é uma disciplina científica que estuda a interação do usuário com um sistema (no caso de você usuário com a sua estação de trabalho (sistema) que é constituída por computador, mesa, cadeira, teclado e mouse). 
        Nessa disciplina existem métodos e normas que visam o seu bem estar e iremos citá-las, já que um dos objetivos desse software é trazer esse conhecimento para que você não venha a desenvolver qualquer doença no futuro devido ao mal uso do seu sistema. Iremos ilustrar com a seguinte imagem:
    </p>
    <div class="row calculo">
        <div class="col-sm-4 calculo-img text-center">
            <img src="assests/img/calculo.jpg">
            <br>
            <a class="textos" target="_blank" href="https://www.marciocunha.eti.br/praticando-ergonomia-no-escritorio-nr17/">Fonte da imagem</a>
        </div>
        <div class="col-sm-4 calculo-text">
            <ul>
                <li>A coluna deve estar ereta;</li>
                <li>Os braços em um ângulo de 90° graus com a mesa;</li>
                <li>Os pés apoiados;</li>
                <li>E o monitor na altura dos olhos.</li>
            </ul>
        </div>
    </div>

    <div  style="background-color:#5E17EB40; padding:0px 10px;">
        <p>
            Só isso? Não!! Também é necessário fazer pausas regulares. E no ErgonoMission utilizamos um método conhecimento como "Pomodoro", a seguir iremos explicar como o métodosdo funciona:
        </p>
    </div>

    <div class="row pomodoro">
        <div class="col-sm-4 pomodoro-text">
            <p>
                Também é sugerido pausas curtas com altas frequências para que o corpo possa se movimentar e sair daquela posição por um tempo. Nesse software utilizamos o método pomodoro que consiste em ciclos de trabalho de 25 minutos e 5 minutos de pausa, após 4 repetições de tempos focados e 3 pausas é feito uma pausa maior de 15 minutos como ilustrado na imagem: 
            </p>
        </div>
        <div class="col-sm-4 pomodoro-img text-center">
            <img src="assests/img/pomodoro.jpg">
            <p class="textos">
                Você pode saber mais sobre esse método aqui -> <a target="_blank" href="https://brasilescola.uol.com.br/dicas-de-estudo/tecnica-pomodoro-que-e-e-como-funciona.htm">Tecnica Pomodoro</a>
            </p>
        </div>
    </div>

    <div style="background-color:#5E17EB40; padding:0px 10px;">
        <p>
            Além disso, é importante alongar!! Porém com "qual a frequência? Quais partes do corpo devo alongar?". Pois bem, após uma pesquisa com profissionais da saúde voltados a essa área agora nós podemos te passar essa informação. Logo abaixo está a resposta! Basta clicar em qual parte do corpo que você deseja descobrir!:
        </p>
    </div>

    <div class="row text-center corpo-div">
        <div class="col-sm-2">
            <h5>Pescoço</h5>
            <hr>
            <p>A cada 60 minutos (ou seja, na segunda pausa do ciclo pomodoro).</p>
        </div>
        <div class="col-sm-2">
            <h5>Costas</h5>
            <hr>
            <p>A cada 30 minutos (ou seja, na primeira pausa do ciclo pomodoro).</p>
        </div>
        <div class="col-sm-2">
            <h5>Braços</h5>
            <hr>
            <p>A cada 60 minutos (ou seja, na segunda pausa do ciclo pomodoro).</p>
        </div>
        <div class="col-sm-2">
            <h5>Olhos</h5>
            <hr>
            <p>A cada 30 minutos (ou seja, na primeira pausa do ciclo pomodoro).</p>
        </div>
    </div>
</div>

